.container-notes {
    background-color: rgba(204,204,204,.4);
    padding: 1.5em;
    margin-top: 2em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;

}

.categories-card-note {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    color: black;
    background-color: white;
    width: 250px;
    height: auto;
    min-height: 2.7em;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 6em 1em;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: .15em;

}


.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.note-remove-icon {
    color: #ff0000;
    border-radius: 50%;
    margin-right: 12px;
    padding: 4px;
    cursor: pointer;
    transition: all ease-in 0.1s;

    &:hover {
        background-color: #ff0000;
        color: #fff;
    }
}
.note-count-icon {
    color: #000;
    margin: 0 4px;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
    transition: all ease-in 0.1s;

    &:hover {
        color: #fff;
        background-color: #008000;
    }
}