* {
  box-sizing:inherit;
  margin: 0;
  padding: 0;
  font-family: cursive ;
}
.image-background {
  height: 100vh;
}

.App {
  height: 100%;
  text-align: center;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}


.login {
  width: 100%;
  min-height: 100vh;
  padding: o 20px;
  display: flex;
}

.container {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(12, 28, 211) 0%,
    rgba(69, 141, 170, 0.9) 59%,
    rgba(66, 113, 134, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login-text {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin-right: 3em;
  margin-left: 3em;
}



